<div class="mb-5 max-w-sm mx-auto">
  <h4 class="text-2xl font-bold dark:text-black">Edit User</h4>
</div>
<%= render "form", user: @user %>
<div class="mb-5 max-w-sm mx-auto">
    <%= button_to "Back to users", users_path, method: :get, class: "text-white bg-gray-500 hover:bg-gray-600 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 dark:bg-gray-600 dark:hover:bg-gray-700 dark:focus:ring-gray-800" %>
</div>
